body { background-color: #FFB280; }

html { scroll-behavior: smooth; }

h1 { font-family: 'Merriweather', serif;
	 color: black;
	 text-align: center;
	 margin-top: 8%;
	 letter-spacing: 2px;
	 text-shadow: 2px 2px papayawhip;
	 font-size: 110px;}

.titolo { font-family: 'Merriweather', serif;
	 color: papayawhip;
	 text-align: center;
	 margin-top: 2%;
	 font-size: 110px;
	 font-style: italic;
	 font-weight: bold;
	 text-shadow: 1px peachpuff;
	 letter-spacing: 0 0;}

#section1 { background-color: #FFB280;
			height: 600px; }

#arrow {margin: 0% 48%;
		color: black; 
		font-size: 40px;
		font-weight: bold;
		text-shadow: 1px 1px peachpuff;}
#arrow:hover { margin-top: 21px; }

#section2 { height: 450px; }

h2 {text-align: center;
	color: black;
	margin-top: 8%;
	font-family: 'Merriweather', serif;
	font-size: 40px;
	text-shadow: 1px 1px;}

 #nav { font-family: 'Merriweather', serif;
 		 margin: auto;
 		 font-size: 30px;
 		 color: black;} 

.buttonemo { background-color: peachpuff;
             font-size: 30px;
             border-radius: 24px;
         	 padding: 70px 60px;
         	 width: 100%;
         	 font-family: 'Koulen', cursive;
         	 text-shadow: 1px;}
.buttonemoline1:hover { box-shadow: 0 12px 8px 0 rgba(0,0,0,0.24), 0 17px 25px 0 rgba(0,0,0,0.19); 
						transform: scale(1.15);}

.grid-container { display: grid;
  grid-template-columns: auto auto auto;}
.grid-item { padding: 10px 10px;
  width: 100%;
  font-size: 30px;
  text-align: center;
  font-family: 'Koulen', cursive;
  text-shadow: 1px;}

#abstract { text-align: center;
			margin: 5% 20%;
			font-size: 30px;
			font-family: 'Merriweather', serif; }

p { font-family: 'Merriweather', serif; 
	text-align: center;
	font-size: 20px;}

@media only screen and (max-width: 600px) {

    h1 { letter-spacing: none;
         font-size: 50px;}
	h2 { margin-top: 10%;
		 font-size: 15px; }
	#section1 { height: 450px; }
	.buttonemoline1 { margin-top: 5px; }
	.container-md { height:3.0rem; }
	.grid-container {grid-template-columns: auto;}
	
}

