body { background-color: orange; }

html { scroll-behavior: smooth; }

h1 { font-family: 'Koulen', cursive;
	 text-align: center;
	 margin-top: 10%;
	 letter-spacing: 2px;
	 text-shadow: 2px 2px;
	 font-size: 110px;}

#section1 { background-color: orange;
			height: 600px; }

#arrow {margin: 10% 50%;
		color: black; 
		font-size: 45px;}

#section2 { height: 450px; }

h2 {text-align: center;
	margin-top: 10%;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 55px; }

 p { font-family: 'Koulen', cursive; 
 	 margin-top: 5px;
 	 font-size: 30px;}

.btn-group { margin: 5% 38%;
			text-align: center;
			background-color: orange;
			color: black; }

.btn-group:hover { color: black; }